* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--html-font-size);
}

body {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: var(--clr-1);
    color: white;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.2;
        display: none;
    }

    &.header-menu-opened {
        overflow: hidden;

        &:before {
            display: block;
        }
    }
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
}

.main-content {
    flex-grow: 1;

    &__container {
        display: flex;
        gap: 25px;
    }
}