* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--html-font-size);
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: var(--clr-1);
    color: white;
}