* {
    outline: unset;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: unset;
    transition: var(--speed) all;
    color: var(--clr-2);

    &:hover {
        color: var(--clr-4)
    }
}

input {
    outline: none;
    border: none;
}

button {
    background: unset;
    border: none;
    outline: none;
}
