/*
    $grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1280px,
        xxl: 1366px,
        xxxl: 1920px
    );

    @include media-breakpoint-down(sm) {
        scss coding
    }
*/

:root {
    // Скорость быстрой анимации
    --speed: 0.3s;

    // html font-size
    --html-font-size: 16px;

    // H1               // H2               // H3
    --h1-sz: 50px;
    --h2-sz: 36px;
    --h3-sz: 26px;
    --h1-lh: 65px;
    --h2-lh: 50px;
    --h3-lh: 39px;
    // END H2           // END H2           // END H3

    // Главные цвета сайта
    --clr-1: #2c2c2d;
    --clr-2: #AAAAAA;
    --clr-3: #D9D9D9;
    --clr-4: #EF7721;
    // END Главные цвета сайта
}
