.header {
    display: flex;
    align-items: center;
    min-height: 75px;
    margin-bottom: 30px;

    @include media-breakpoint-down(s) {
        min-height: 55px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__right {
    }

    &__burger {
        gap: 6px;
        flex-direction: column;
        display: none;
        z-index: 900;
        cursor: pointer;

        &:hover {
            span {
                background-color: var(--clr-4);
            }
        }

        span {
            position: relative;
            display: block;
            width: 30px;
            height: 3px;
            border-radius: 50px;
            background-color: var(--clr-2);
            transition: var(--speed) all;

            @include media-breakpoint-down(s) {
                width: 25px;
                height: 2px;
            }
        }

        @include media-breakpoint-down(xl) {
            display: flex;
        }

        &_active {
            span {
                background-color: var(--clr-4);

                &:first-child {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:last-child {
                    top: -9px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        img {
            width: 100%;

            @include media-breakpoint-down(s) {
                width: 130px;
            }
        }
    }

    &__work-time {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        margin-bottom: 4px;
        min-width: max-content;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &-title {
            color: var(--clr-2);
        }
        &-time {
            color: var(--clr-3);
            font-weight: bold;
        }
    }

    &__phone {
        color: var(--clr-3);
        font-weight: 500;

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    &__minicart {
        background-color: var(--clr-4);
        font-weight: bold;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 19px;
        cursor: pointer;
        position: relative;

        @include media-breakpoint-down(md) {
            padding: 4px 15px;
        }

        &-full {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &-short {
            display: none;
            width: 25px;
            height: 25px;

            svg {
                width: 100%;
                height: 100%;
                fill: white;
            }

            @include media-breakpoint-down(md) {
                display: block;
            }
        }

        &-count {
            width: max-content;
            min-width: 20px;
            border-radius: 20px;
            height: 20px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            position: absolute;
            top: -10px;
            right: -10px;
        }
    }
}

.header__menu {
    border-left: 2px solid var(--clr-2);
    margin-left: 10px;
    padding-left: 20px;

    @include media-breakpoint-down(xl) {
        display: none;
    }

    ul {
        display: flex;
        gap: 15px;

        a {
            color: var(--clr-2);
            transition: var(--speed) all;

            &:hover {
                color: var(--clr-4);
            }
        }
    }
}

.header-mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 300px;
    width: 100%;
    height: 100dvh;
    background-color: var(--clr-1);
    transition: var(--speed) all;
    transform: translateX(-100%);
    border-right: 2px solid var(--clr-4);
    padding: 20px;
    z-index: 900;

    @include media-breakpoint-down(sm) {
        max-width: 250px;
    }

    @include media-breakpoint-down(s) {
        max-width: unset;
        width: calc(100% - 50px);
        padding: 10px;
    }

    &_active {
        transform: translateX(0);
    }

    &__logo {
        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
            width: 180px;
        }

        @include media-breakpoint-down(s) {
            width: 150px;
        }
    }

    &__menu {
        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}
